@{
    ViewData["Title"] = "Informacion Usuario";
    Layout = "MaintLayout";
}

<div class="container rounded border " >
    <div class="row">
        <div class="col d-flex justify-content-end">
            <a class="btn btn-outline-info m-2 bg-light" asp-controller="User" asp-action="CambioContrasena">Contraseña</a>
            <a class="btn btn-outline-info bg-light m-1">Usuario</a>
            <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" width="50" height="50" class="rounded rounded-circle" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>
                Tus Productos
            </h1>
        </div>
        <div class="col  d-flex justify-content-end">
            <a class="btn btn-outline-info m-2 bg-light" asp-controller="Productos" asp-action="Agregar">Agregar Productos</a>
        </div>
    </div>
    <div class="row">
        
        
        <div class="col d-flex justify-content-start flex-wrap">
            <!-- Cards -->
            <div class="card m-1" style="width: 12rem;">
                <img class="card-img-top" src="https://catalogo.jpicadoyasociados.com/catalogoEnLinea/public/showImagenPrincipalArticulo/80?cu=9f08b882-fcdf-4fc4-89ab-b3376a95df03&tam=g" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Queques de Cumpleaños</h5>
                    <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
  
           <!-- Cards -->
            <div class="card m-1" style="width: 12rem;">
                <img class="card-img-top" src="https://www.bettycrocker.lat/wp-content/uploads/2020/12/BClatam-recipe-galletas-arcoirirs.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Galletas con chispas de chocolate</h5>
                    <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
  
           <!-- Cards -->
            <div class="card m-1" style="width: 12rem;">
                <img class="card-img-top" src="https://i.pinimg.com/1200x/4f/ce/80/4fce803c029cdc8a4f0f6b95b8c262db.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Muffins de Cumpleaños</h5>
                    <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
  
           <!-- Cards -->
            <div class="card m-1" style="width: 12rem;">
                <img class="card-img-top" src="https://img.freepik.com/vector-gratis/pack-cuatro-tarjetas-feliz-cumpleanos-estilo-retro_23-2147603475.jpg?w=2000" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tarjetas de Cumpleaños</h5>
                    <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>

            <!-- Cards -->
            <div class="card m-1" style="width: 12rem;">
                <img class="card-img-top" src="https://s1.significados.com/foto/abundance-1868573-960-720_bg.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Repostería</h5>
                    <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>

        </div>

     
        

    </div>
    <div class="row  m-1">
        <div class="col">
            <h2>
                Comunidades
            </h2>
        </div>
    </div>
    <div class="row">
        <h6>
            Comunidades
        </h6>
    </div>
    <div class="row ">
        <div class="col d-flex flex-row  justify-content-around ">                       
            <!-- Tarjeta -->
            <a asp-controller="Productos" asp-action=" ProductosPorCategoria" class="card m-1 " style="width: 18rem; background-color:mediumpurple;">
                <div class="card-body">
                    <h5 class="card-title">[Comunidad]</h5>
                </div>
            </a> 
            <!-- Tarjeta -->
            <a asp-controller="Productos" asp-action=" ProductosPorCategoria" class="card m-1 " style="width: 18rem; background-color:mediumpurple;">
                <div class="card-body">
                    <h5 class="card-title">[Comunidad]</h5>
                </div>
            </a> 
            <!-- Tarjeta -->
            <a asp-controller="Productos" asp-action=" ProductosPorCategoria" class="card m-1 " style="width: 18rem; background-color:mediumpurple;">
                <div class="card-body">
                    <h5 class="card-title">[Comunidad]</h5>
                </div>
            </a> 
            <!-- Tarjeta -->
            <a asp-controller="Productos" asp-action=" ProductosPorCategoria" class="card m-1 " style="width: 18rem; background-color:mediumpurple;">
                <div class="card-body">
                    <h5 class="card-title">[Comunidad]</h5>
                </div>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-between">
            <h2>
                Información Basica Usuario
            </h2>
            <a class="btn btn-outline-info" asp-controller="User" asp-action="Modificar">
                Modificar
            </a>
        </div>
        <div class="col">
            <h2>
                Pedidos
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-light table-hover">
                <tbody>
                    <tr>
                        <th>
                            Nombre de Usuario
                        </th>
                        <td>
                            Información
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Correo
                        </th>
                        <td>
                            Información
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Ubicación
                        </th>
                        <td>
                            Información
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Numero Telefono
                        </th>
                        <td>
                            Información
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="d-flex flex-column">
                <div class="card m-1 " style="width: 18rem; height:4rem;">
                    <div class="card-body">
                        <h5 class="card-title">Pedido 1</h5>
                    </div>
                </div>
                <div class="card m-1 " style="width: 18rem; height:4rem;">
                    <div class="card-body">
                        <h5 class="card-title">Pedido 1</h5>
                    </div>
                </div>
                <div class="card m-1 " style="width: 18rem; height:4rem;">
                    <div class="card-body">
                        <h5 class="card-title">Pedido 1</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>