@{
    ViewData["Title"] = "Agregar Producto";
    Layout = "MaintLayout";
}



<div class="container p-1" style="background-color:lightgrey;">
    <div class="row">
        <div class="col btn ">
            <h1>
                Agregar Producto
            </h1>
        </div>
    </div>
    <div class="row m-1">
        <div class="col">
            <h6>
                Nombre
            </h6>
        </div>
        <div class="col from-group">
            <input type="text" class="form-control"  />
        </div>
    </div>
    <div class="row m-1">
        <div class="col">
            <h6>
                Precio
            </h6>
        </div>
        <div class="col from-group">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col">
            <h6>
                Nombre
            </h6>
        </div>
        <div class="col from-group">
            <input type="text" class="form-control" />
        </div>
    </div>

    <div class="row m-1">
        <div class="col d-flex justify-content-around">
            <button class="btn btn-outline-success bg-light">
                Agregar Datos
            </button>

            <button class="btn btn-outline-danger bg-light">
                Cancelar
            </button>
        </div>
        
    </div>
</div>


