@{
    ViewData["Title"] = "Categoria";
    Layout = "MaintLayout";
}



<div class="container">
    <div class="row">
        <div class="col d-flex flex-row justify-content-between">
            <h1>
                Categoria [Nombre]
            </h1>
           
        </div>
        <br />
        <div class="row">
            <div class="col">
                <h4>
                    Productos de [Nombre]
                </h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-row flex-wrap overflow-auto">

                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
