@{
    ViewData["Title"] = "Categoria";
    Layout = "MaintLayout";
}



<div class="container">
    <div class="row">
        <div class="col d-flex flex-row justify-content-between">
            <h1>
                Categoria [Nombre]
            </h1>
           
        </div>
        <br />
        <div class="row">
            <div class="col">
                <h4>
                    Productos de [Nombre]
                </h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-row flex-wrap overflow-auto">
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesedora</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://catalogo.jpicadoyasociados.com/catalogoEnLinea/public/showImagenPrincipalArticulo/80?cu=9f08b882-fcdf-4fc4-89ab-b3376a95df03&tam=g" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Queque de Cumpleaños</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://cdn.rencdn.com/ashley/high/T802-1-SW-P1-KO.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mesa de Sala</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://www.bettycrocker.lat/wp-content/uploads/2020/12/BClatam-recipe-galletas-arcoirirs.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Galletas</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://cdn.rencdn.com/ashley/high/D752-01-ANGLE-SW-P1-KO.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Silla de comedor</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://i.pinimg.com/1200x/4f/ce/80/4fce803c029cdc8a4f0f6b95b8c262db.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Muffin de cumpleaños</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://www.officedepot.co.cr/medias/37424.jpg-1200ftw?context=bWFzdGVyfHJvb3R8MjQ2NDkxfGltYWdlL2pwZWd8aGQxL2hmMC8xMDM2MDkyNjY5OTU1MC8zNzQyNC5qcGdfMTIwMGZ0d3xjMzg4MzBkNzcwNTMyNmJkMjE4YmRmODYxZjM3NzJmZmM2YTM3MDkyMzc1NzFlZjkyZGM2OGQyZDllM2JkYmVk" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Escritorio</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://img.freepik.com/vector-gratis/pack-cuatro-tarjetas-feliz-cumpleanos-estilo-retro_23-2147603475.jpg?w=2000" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tarjeta de cumpleaños</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://www.gollo.com/media/catalog/product/4/1/4103010128.jpg?optimize=medium&bg-color=255,255,255&fit=bounds&height=1040&width=1040&canvas=1040:1040" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mueble de cocina</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="card m-1" style="width: 15rem;">
                    <img class="card-img-top" width="100" height="140" src="https://theramart.com/cdn/shop/products/theralift_94655d96-7e49-4d36-a9c9-24ad8780e509_grande.jpg?v=1651213539" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Sillón</h5>
                        <a asp-controller="Productos" asp-action="VerProducto" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
