@{
    ViewData["Title"] = "Productos";
    Layout = "MaintLayout";
}



<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Información de Producto
            </h1>
        </div>
    </div>
    <div class="row border rounded m-1">
        <div class="col d-flex justify-content-center align-items-center">
            <img class="img-fluid rounded  " width="200" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" />
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center ">
            <table class="table m-1 table-light">
                <tbody>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <td>
                            Mesedora
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Vendedor
                        </th>
                        <td>
                            <a asp-controller="User" asp-action="VerUsuario" class="text-decoration-none text-info"> [Nombre Usuario] </a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Precio
                        </th>
                        <td>
                            $ 1000
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Existencias
                        </th>
                        <td>
                            5 Unidades
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Categoria
                        </th>
                        <td>
                            Artesanias
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center m-1 align-items-center">
                <a class="btn btn-outline-info m-2" asp-controller="Compra" asp-action="GenerarCompra">
                    Comprar
                </a>
            </div>
        </div>
    </div>
    <div class="row border rounded m-1">
        <div class="col">
            <div class="m-1">
                <h3>
                    Descripción
                </h3>
            </div>
            <div>
                <p>
                    Mesedora bonita hecha a mano.
                </p>
            </div>
        </div>
    </div>
</div>
