@{
    ViewData["Title"] = "Create";
    Layout = "MaintLayout";
}

<div class="group-62">
    <div class="body"></div>
    <div class="informaci-n-de-producto">Información de Producto</div>
    <img class="rectangle-8" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" />
    <div class="nombre">Nombre</div>
    <div class="vendedor">Vendedor</div>
    <div class="precio">Precio</div>
    <div class="categoria">Categoria</div>
    <div class="mesedora">Mesedora</div>
    <div class="susan-rojas">Susan Rojas</div>
    <div class="_1000">$1000</div>
    <div class="artesanias">Artesanias</div>
    <div class="rectangle-25"></div>
    <div class="comprar">Comprar</div>
    <div class="mesedora-bonita-hecha-a-mano">Mesedora bonita hecha a mano</div>
</div>

<style>
    .group-62,
    .group-62 * {
        box-sizing: border-box;
    }

    .group-62 {
        position: absolute;
        inset: 0;
    }

    .body {
        background: #d9d9d9;
        border-radius: 52px;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        width: 399px;
        height: 736px;
        position: absolute;
        left: 455px;
        top: 505px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transform-origin: 0 0;
        transform: rotate(-90deg) scale(1, 1);
    }

    .informaci-n-de-producto {
        color: #000000;
        text-align: left;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 488px;
        top: 120px;
        width: 580.84px;
        height: 45.21px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .rectangle-8 {
        border-radius: 5px;
        border-style: solid;
        border-color: #ababab;
        border-width: 1px;
        width: 247px;
        height: 200px;
        position: absolute;
        left: 495px;
        top: 193px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .nombre {
        color: #000000;
        text-align: left;
        font: 400 20px "Inter", sans-serif;
        position: absolute;
        left: 754px;
        top: 193px;
        width: 95px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .vendedor {
        color: #000000;
        text-align: left;
        font: 400 20px "Inter", sans-serif;
        position: absolute;
        left: 752px;
        top: 231px;
        width: 170.66px;
        height: 39.89px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .precio {
        color: #000000;
        text-align: left;
        font: 400 20px "Inter", sans-serif;
        position: absolute;
        left: 752px;
        top: 266px;
        width: 170.66px;
        height: 39.89px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .categoria {
        color: #000000;
        text-align: left;
        font: 400 20px "Inter", sans-serif;
        position: absolute;
        left: 754px;
        top: 301px;
        width: 170.66px;
        height: 39.89px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .mesedora {
        color: #000000;
        text-align: left;
        font: 100 20px "Inter", sans-serif;
        position: absolute;
        left: 863px;
        top: 193px;
        width: 170.66px;
        height: 39.89px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .susan-rojas {
        color: #000000;
        text-align: left;
        font: 100 20px "Inter", sans-serif;
        position: absolute;
        left: 863px;
        top: 233px;
        width: 170.66px;
        height: 39.89px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    ._1000 {
        color: #000000;
        text-align: left;
        font: 100 20px "Inter", sans-serif;
        position: absolute;
        left: 863px;
        top: 269px;
        width: 170.66px;
        height: 39.89px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .artesanias {
        color: #000000;
        text-align: left;
        font: 300 20px "Inter", sans-serif;
        position: absolute;
        left: 863px;
        top: 301px;
        width: 170.66px;
        height: 39.89px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .rectangle-25 {
        background: #ffffff;
        border-radius: 15px;
        border-style: solid;
        border-color: #3a86ff;
        border-width: 1px;
        width: 153px;
        height: 48px;
        position: absolute;
        left: 781px;
        top: 354px;
    }

    .comprar {
        color: #3a86ff;
        text-align: center;
        font: 300 20px "Inter", sans-serif;
        position: absolute;
        left: 731px;
        top: 368px;
        width: 254.49px;
        height: 21.27px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mesedora-bonita-hecha-a-mano {
        color: #000000;
        text-align: left;
        font: 400 20px "Inter", sans-serif;
        position: absolute;
        left: 495px;
        top: 412px;
        width: 653px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

</style>
