@{
    ViewData["Title"] = "Modificar";
    Layout = "MaintLayout";
}



<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Información de Producto
</h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <img class="img-fluid rounded  "  width="200" src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" />
        </div>
        <div class="col">
            <table class="table table-light">
                <tbody>
                    <tr>
                        <th>
                            Información
                        </th>
                        <td>
                            DAta
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Información
                        </th>
                        <td>
                            DAta
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Información
                        </th>
                        <td>
                            DAta
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
