 @{
   ViewData["Title"] = "Create";
    Layout = "MaintLayout";
}

<div class="group-63">
    <svg class="body"
         width="514"
         height="445"
         viewBox="0 0 514 445"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M25 445C11.1929 445 0 433.807 0 420L0 25C0 11.1929 11.1929 5.60284e-06 25 5.60284e-06L489 5.60284e-06C502.807 5.60284e-06 514 11.1929 514 25V420C514 433.807 502.807 445 489 445L25 445Z"
              fill="white" />
        <path d="M0.5 420L0.5 25C0.5 11.469 11.469 0.5 25 0.5L489 0.5C502.531 0.5 513.5 11.469 513.5 25V420C513.5 433.531 502.531 444.5 489 444.5L25 444.5C11.469 444.5 0.5 433.531 0.5 420Z"
              stroke="black"
              stroke-opacity="0.5" />
    </svg>

    <div class="nombre-usuario">Nombre Usuario</div>
    <div class="rectangle-40"></div>
    <div class="rectangle-41"></div>
    <div class="texto">Texto</div>
    <div class="contrase-a">Contraseña</div>
    <div class="button">
        <div class="rectangle-412"></div>
        <div class="contrase-a-olvidada">Contraseña Olvidada</div>
    </div>
    <div class="button2">
        <div class="rectangle-413"></div>
        <div class="ingresar">Ingresar</div>
    </div>
    <div class="rectangle-42"></div>
    <div class="group-49">
        <div class="rectangle-43"></div>
        <a asp-controller="Productos" asp-action="Buscar" class="ingresar2" >Ingresar</a>
    </div>
    <div class="group-50">
        <div class="rectangle-432"></div>
        <a asp-controller="Login" asp-action="Registro"  class="registrar" >Registrar</a>
    </div>
</div>

<style>
    .group-64,
    .group-64 * {
        box-sizing: border-box;
    }

    .group-64 {
        position: absolute;
        inset: 0;
    }

    .group-63 {
        width: 514px;
        height: 445px;
        position: static;
    }

    .body {
        border-radius: 0px;
        position: absolute;
        left: 574px;
        top: 573px;
        transform: translate(0px, -445px);
        overflow: visible;
    }

    .nombre-usuario {
        color: #000000;
        text-align: center;
        font: 400 16px "Inter", sans-serif;
        position: absolute;
        left: 651.44px;
        top: 265.28px;
        width: 348.36px;
        height: 44.27px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle-40 {
        background: #ffffff;
        border-radius: 15px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.5);
        border-width: 1px;
        width: 181px;
        height: 24px;
        position: absolute;
        left: 740px;
        top: 310px;
    }

    .rectangle-41 {
        background: #ffffff;
        border-radius: 15px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.5);
        border-width: 1px;
        width: 181px;
        height: 24px;
        position: absolute;
        left: 740px;
        top: 358px;
    }

    .texto {
        color: #000000;
        text-align: center;
        font: 400 16px "Inter", sans-serif;
        position: absolute;
        left: 752px;
        top: 314px;
        width: 146.66px;
        height: 15.6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contrase-a {
        color: #000000;
        text-align: center;
        font: 400 16px "Inter", sans-serif;
        position: absolute;
        left: 745px;
        top: 322px;
        width: 161.82px;
        height: 44.27px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button {
        width: 151px;
        height: 45px;
        position: static;
    }

    .rectangle-412 {
        background: #ffffff;
        border-radius: 15px;
        border-style: solid;
        border-color: #3a86ff;
        border-width: 1px;
        width: 151px;
        height: 45px;
        position: absolute;
        left: 755px;
        top: 458px;
    }

    .contrase-a-olvidada {
        color: #3a86ff;
        text-align: center;
        font: 400 16px "Inter", sans-serif;
        position: absolute;
        left: 755px;
        top: 458px;
        width: 151px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button2 {
        width: 188.79px;
        height: 40.26px;
        position: static;
    }

    .rectangle-413 {
        background: #ffffff;
        border-radius: 15px;
        border-style: solid;
        border-color: #3a86ff;
        border-width: 1px;
        width: 188.79px;
        height: 40.26px;
        position: absolute;
        left: 737px;
        top: 400px;
    }

    .ingresar {
        color: #3a86ff;
        text-align: center;
        font: 400 20px "Inter", sans-serif;
        position: absolute;
        left: 737px;
        top: 400px;
        width: 188.79px;
        height: 40.26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle-42 {
        border-radius: 15px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.5);
        border-width: 1px;
        width: 383px;
        height: 310px;
        position: absolute;
        left: 633px;
        top: 227px;
    }

    .group-49 {
        width: 127px;
        height: 49px;
        position: static;
    }

    .rectangle-43 {
        background: #3a86ff;
        border-radius: 50px;
        width: 127px;
        height: 49px;
        position: absolute;
        left: 687px;
        top: 163px;
    }

    .ingresar2 {
        color: #ffffff;
        text-align: center;
        font: 400 20px "Inter", sans-serif;
        position: absolute;
        left: 705px;
        top: 165px;
        width: 91.39px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .group-50 {
        width: 118px;
        height: 49px;
        position: static;
    }

    .rectangle-432 {
        background: #3a86ff;
        border-radius: 50px;
        width: 118px;
        height: 49px;
        position: absolute;
        left: 840px;
        top: 163px;
    }

    .registrar {
        color: #ffffff;
        text-align: center;
        font: 400 20px "Inter", sans-serif;
        position: absolute;
        left: 851.53px;
        top: 165px;
        width: 100.7px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


</style>