@{
    ViewData["Title"] = "Create";
    Layout = "MaintLayout";
}

<div class="container border border-2">


	<div class="row border border-2 m-1">
		<div class="col d-flex justify-content-center m-1"><strong>Informaci&oacute;n de Pedido</strong></div>
	</div>



	<div class="row border border-2 m-1">

		<div class="col d-flex align-items-start d-flex justify-content-center m-1">
			<img class="img-thumbnail rounded float-start" width="200" alt="..." src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" />
		</div>

		<div class="col align-middle m-1">
			<p>Nombre: Nombre Producto</p>
			<p>Precio: $5000</p>
			<p>Categor&iacute;a: Nombre Categor&iacute;a</p>
		</div>

	</div>


	<div class="row border border-2 align-middle m-1">
		
		<div class="col align-middle d-flex justify-content-center m-1">
			<ul class="navbar-nav flex-grow-2  w-75 gap-2 align-middle">
				<li class="nav-item border rounded  p-1 d-flex justify-content-center m-1">
					<button type="button" class="btn btn-danger">Anular</button>
				</li>
				<li class="nav-item border rounded  p-1  d-flex justify-content-center m-1">
					<button type="button" class="btn btn-success">Completar</button>
				</li>
				<li class="nav-item border rounded  p-1 d-flex justify-content-center m-1">
					<button type="button" class="btn btn-light">Generar Factura</button>
				</li>

			</ul>
		</div>


		<div class="col align-middle m-1">

			<p>Esta persona esta solicitando m&aacute;s informaci&oacute;n de este pedido.&nbsp;Comunicate con ella para m&aacute;s informaci&oacute;n</p>

			<p>Nombre: Nombre usuario</p>

			<p>Ubicaci&oacute;n: Ubicaci&oacute;n usuario</p>

			<p>Cantidad: Cantidad del producto</p>

			<p>Tel&eacute;fono: Num. Tel&eacute;fono</p>

			<p>M&eacute;todo de pago: Tarjeta.</p>
		</div>
	</div>


</div>

