@{
    ViewData["Title"] = "Información del Pedido";
    Layout = "MaintLayout";
}

<div class="container  align-self-center">


    <div class="row  m-1">
        <div class="col d-flex justify-content-center m-1"><h2>Información de Pedido</h2></div>
    </div>



    <div class="row  m-1">

        <div class="col d-flex align-items-start d-flex justify-content-center m-1">
            <img class="img-thumbnail rounded float-start" width="200" alt="..." src="https://m.media-amazon.com/images/I/71R+gula5rL._AC_UF894,1000_QL80_.jpg" />
        </div>

        <div class="col align-middle align-self-center m-1">
            <p>Nombre: Nombre Producto</p>
            <p>Precio: $5000</p>
            <p>Categor&iacute;a: Nombre Categor&iacute;a</p>
        </div>

    </div>


    <div class="row  align-middle m-1">

        <h4>
            Información Comprador
        </h4>
        <!-- tabla de Comprador-->
        <table class="table table-hover table-light">
            <tbody>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <td>
                        Nombre usuario
                    </td>
                </tr>
                <tr>
                    <th>
                        Ubicación
                    </th>
                    <td>
                        Ubicación usuario
                    </td>
                </tr>
                <tr>
                    <th>
                        Cantidad
                    </th>
                    <td>
                        1 unidad
                    </td>
                </tr>
                <tr>
                    <th>
                        Telefono
                    </th>
                    <td>
                        8888-8888
                    </td>
                </tr>
            </tbody>
        </table>
        <h4>
            Información Vendedor
        </h4>
        <!-- tabla de Vendedor-->
        <table class="table table-hover table-light">
            <tbody>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <td>
                        Nombre usuario
                    </td>
                </tr>
                <tr>
                    <th>
                        Telefono
                    </th>
                    <td>
                        8888-8888
                    </td>
                </tr>
            </tbody>
        </table>


        <div class=" d-flex flex-row justify-content-around">
            <a type="button" class="btn btn-outline-danger bg-light m-1" asp-controller="Productos" asp-action="VerProducto">Anular</a>
            <button type="button" class="btn btn-outline-info bg-light m-1">Generar Factura</button>
        </div>



    </div>


</div>

