<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - appproyecto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/appproyecto.styles.css" asp-append-version="true" />
</head>
<body class="m-2 d-flex gap-4 m-0 " style="height: 90vh">
    <header class="bg-light h-100 col-2 rounded" style="z-index:2!important;">
        <nav class="m-4 d-flex flex-column w-100 justify-content-center gap-5" >
            <div class="navbar-collapse collapse d-sm-inline-flex flex-column justify-content-between">
                <ul class="navbar-nav flex-grow-2  w-75 gap-2">
                    <li class="nav-item border rounded  p-1">
                        <a class="nav-link d-flex justify-content-around bg-info text-light" asp-area="" asp-controller="Productos" asp-action="Buscar">
                            <label>Productos</label>
                            <i class="bi bi-house "></i>
                        </a>
                    </li>
                    <li class="nav-item border rounded  p-1">
                        <a class="nav-link  d-flex justify-content-around bg-info text-light " asp-area="" asp-controller="Categorias" asp-action="Categorias">
                            <label>
                                Categorias
                            </label>
                            <i class="bi bi-houses-fill"></i>
                        </a>
                    </li>   
                    
                    <li class="nav-item border rounded  p-1">
                        <a class="nav-link  d-flex justify-content-around   bg-info text-light " asp-area="" asp-controller="Comunidad" asp-action="Buscar">Comunidades<i class="bi bi-boxes"></i></a>
                    </li>

                </ul>

                <ul class="navbar-nav flex-grow-2 m-1  w-75 gap-2">
                    <li class="nav-item border rounded  p-1">
                        <a class="nav-link d-flex justify-content-around   bg-info text-light " asp-area="" asp-controller="User" asp-action="Info">Mi Perfil<i class="bi bi-boxes"></i></a>
                    </li>

                </ul>
            </div>

            </ul>
        </nav>
    </header>
    <section class="border rounded col-9 p-4  overflow-auto  " style="z-index:1!important;">
        @RenderBody()
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
