@{
    ViewData["Title"] = "Buscar Comunidad";
    Layout = "MaintLayout";
}



<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Buscar Comunidad
            </h1>
        </div>
        <div class="col d-flex form-group">
            <input type="text" class="form-control" />
            <button class="btn btn-info"> Buscar </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>
                Resultados de Busqueda
            </h5>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col d-flex flex-row flex-wrap overflow-auto">

            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>
            <!-- Card -->
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <a class="btn btn-primary" asp-controller="Comunidad" asp-action="Ver">Ver Comunidad</a>
                </div>
            </div>


   
        </div>
    </div>
</div>