@{
    ViewData["Title"] = "Comunidad";
    Layout = "MaintLayout";
}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-between">
            <h1>
                Comunidad - [Nombre]
            </h1>
            <a class="btn btn-sm btn-success">
                Suscribir
            </a>
        </div>
    </div>
    <div class="row">

        <div class=" m-1 p-1 d-flex flex-wrap flex-row">

            <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://www.govisitcostarica.co.cr/images/photos/mob-carreta-sarchi-costa-rica.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver" >
                        Ver Publicación
                    </a>
                </div>
            </div>

            <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://www.grecia.go.cr/img/microsite/article/detail/66_1_iglesiagrecia.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver">
                        Ver Publicación
                    </a>
                </div>
            </div>

                        <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://ecomunicipal.co.cr/wp-content/uploads/2021/04/liberia-guanacaste-01.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver" >
                        Ver Publicación
                    </a>
                </div>
            </div>

                        <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__hero_banner__hb_image__1880bp/public/hero_banner/San_Jose_Central_Market.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver" >
                        Ver Publicación
                    </a>
                </div>
            </div>

                        <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://costarica.org/wp-content/uploads/2017/09/Limon2.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver" >
                        Ver Publicación
                    </a>
                </div>
            </div>

                        <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://www.periodicomensaje.com/images/iglesia-colonial-nicoya.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver" >
                        Ver Publicación
                    </a>
                </div>
            </div>

            <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://www.govisitcostarica.co.cr/images/photos/mob-zarcero-church-with-gardens.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver">
                        Ver Publicación
                    </a>
                </div>
            </div>


            <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://whereintheworldisnina.com/wp-content/uploads/2023/05/san-carlos-church-la-fortuna-1024x683.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver">
                        Ver Publicación
                    </a>
                </div>
            </div>



            <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://laregion.cr/wp-content/uploads/2022/05/%C2%A1Todos-a-bailar-Celebracion-de-Tradiciones-Sancarlenas-regresa-al-Parque-de-Ciudad-Quesada.png" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver">
                        Ver Publicación
                    </a>
                </div>
            </div>



            <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Parroquia_Inmaculada_Conception_de_Heredia.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver">
                        Ver Publicación
                    </a>
                </div>
            </div>



            <!-- Card -->
            <div class="card m-1" style="width: 18rem;">
                <img width="100" height="140" src="https://media.istockphoto.com/id/1432726036/es/foto/hermosa-vista-a%C3%A9rea-de-la-iglesia-g%C3%B3tica-de-coronado-en-costa-rica.jpg?s=612x612&w=0&k=20&c=GwdZrTACCLpsOqgcx2T_hTsB4DOsJDqljZuKEIVz_4s=" class="card-img-top" alt="...">
                <div class="card-header">
                    <h6>
                        Publicación
                    </h6>
                </div>
                <div class="card-body">
                    <p>
                        Información....
                    </p>
                    <a class="btn btn-sm btn-info" asp-controller="Publicacion" asp-action="Ver">
                        Ver Publicación
                    </a>
                </div>
            </div>



        </div>
    </div>
</div>
</div>