@{
    ViewData["Title"] = "Categorias ";
    Layout = "MaintLayout";
}



<div class="container ">
    <div class="row">
        <div class="col">
            <h1>
                Categorias
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-around align-items-center flex-row flex-wrap">

            <!-- Container -->
            <a asp-controller="Productos" asp-action="ProductosPorCategoria" class="d-flex rounded m-3 border-light p-4 text-decoration-none " style="background-color:mediumpurple;">
                <h2 class="text-light">
                    Artesania
                </h2>
            </a>

            <!-- Container -->
            <a asp-controller="Productos" asp-action="ProductosPorCategoria" class="d-flex rounded m-3 border-light p-4 text-decoration-none " style="background-color:mediumpurple;">
                <h2 class="text-light">
                    Libros
                </h2>
            </a>


            <!-- Container -->
            <a asp-controller="Productos" asp-action="ProductosPorCategoria" class="d-flex rounded m-3 border-light p-4 text-decoration-none " style="background-color:mediumpurple;">
                <h2 class="text-light">
                    Comidas
                </h2>
            </a>


            <!-- Container -->
            <a asp-controller="Productos" asp-action="ProductosPorCategoria" class="d-flex rounded m-3 border-light p-4 text-decoration-none " style="background-color:mediumpurple;">
                <h2 class="text-light">
                    Varios
                </h2>
            </a>


            <!-- Container -->
            <a asp-controller="Productos" asp-action="ProductosPorCategoria" class="d-flex rounded m-3 border-light p-4 text-decoration-none " style="background-color:mediumpurple;">
                <h2 class="text-light">
                    Salud y Belleza
                </h2>
            </a>


            <!-- Container -->
            <a asp-controller="Productos" asp-action="ProductosPorCategoria" class="d-flex rounded m-3 border-light p-4 text-decoration-none " style="background-color:mediumpurple;">
                <h2 class="text-light">
                    Autos
                </h2>
            </a>


            <!-- Container -->
            <a asp-controller="Productos" asp-action="ProductosPorCategoria" class="d-flex rounded m-3 border-light p-4 text-decoration-none " style="background-color:mediumpurple;">
                <h2 class="text-light">
                    Hogar
                </h2>
            </a>

            <!-- Container -->
            <a asp-controller="Productos" asp-action="ProductosPorCategoria" class="d-flex rounded m-3 border-light p-4 text-decoration-none " style="background-color:mediumpurple;">
                <h2 class="text-light">
                    Alquileres
                </h2>
            </a>

            <!-- Container -->
            <a asp-controller="Productos" asp-action="ProductosPorCategoria" class="d-flex rounded m-3 border-light p-4 text-decoration-none " style="background-color:mediumpurple;">
                <h2 class="text-light">
                    Jardín
                </h2>
            </a>

        </div>
    </div>
</div>



