@{
    ViewData["Title"] = "Categorias ";
    Layout = "MaintLayout";
}



<div class="container ">
    <div class="row">
        <div class="col">
            <h1>
                Categorias
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-around flex-row flex-wrap">

            <!-- Container -->
            <div class="d-flex">
                <h1>

                </h1>
            </div>

        </div>
    </div>
</div>



