@{
    ViewData["Title"] = "Create";
    Layout = "MaintLayout";
}
<div class="body">
    <div class="background"></div>
    <div class="title">
        <div class="categorias">Categorias</div>
    </div>
    <div class="itemss">
        <div class="item">
            <div class="rectangle-15"></div>
            <div class="artesanias">Artesanias</div>
        </div>
    </div>
    <div class="itemss">
        <div class="item">
            <div class="rectangle-152"></div>
            <div class="libros">Libros</div>
        </div>
    </div>
    <div class="itemss2">
        <div class="item2">
            <div class="rectangle-153"></div>
            <div class="artesanias2">Artesanias</div>
        </div>
    </div>
    <div class="itemss3">
        <div class="item2">
            <div class="rectangle-154"></div>
            <div class="alquileres">Alquileres</div>
        </div>
        <div class="item2">
            <div class="rectangle-155"></div>
            <div class="hogar">Hogar</div>
        </div>
        <div class="item2">
            <div class="rectangle-156"></div>
            <div class="jard-n">Jardín</div>
        </div>
    </div>
    <div class="itemss4">
        <div class="item2">
            <div class="rectangle-157"></div>
            <div class="autos">Autos</div>
        </div>
        <div class="itemss2">
            <div class="item2">
                <div class="rectangle-158"></div>
                <div class="salud-y-belleza">Salud y Belleza</div>
            </div>
        </div>
    </div>
    <div class="itemss2">
        <div class="item2">
            <div class="rectangle-159"></div>
            <div class="comidas">Comidas</div>
        </div>
    </div>
</div>





            <style>
    .body,
    .body * {
        box-sizing: border-box;
    }

    .body {
        position: absolute;
        inset: 0;
    }

    .background {
        background: #d9d9d9;
        border-radius: 25px;
        width: 354px;
        height: 888px;
        position: absolute;
        left: 312px;
        top: 472px;
        transform-origin: 0 0;
        transform: rotate(-90deg) scale(1, 1);
    }

    .title {
        width: 478.36px;
        height: 29.81px;
        position: static;
    }

    .categorias {
        color: #000000;
        text-align: center;
        font: 400 40px "Inter", sans-serif;
        position: absolute;
        left: 533.03px;
        top: 137.68px;
        width: 478.36px;
        height: 29.81px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .itemss {
        width: 241.83px;
        height: 38.16px;
        position: static;
    }

    .item {
        width: 241.83px;
        height: 38.16px;
        position: static;
    }

    .rectangle-15 {
        background: #8338ec;
        border-radius: 5px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 241.83px;
        height: 38.16px;
        position: absolute;
        left: 370.04px;
        top: 200px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .artesanias {
        color: #ffffff;
        text-align: center;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 397.82px;
        top: 209.16px;
        width: 185.46px;
        height: 19.84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle-152 {
        background: #8338ec;
        border-radius: 5px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 241.83px;
        height: 38.16px;
        position: absolute;
        left: 655px;
        top: 200px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .libros {
        color: #ffffff;
        text-align: center;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 682.78px;
        top: 209.16px;
        width: 185.46px;
        height: 19.84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .itemss2 {
        width: 236.03px;
        height: 38.16px;
        position: static;
    }

    .item2 {
        width: 236.03px;
        height: 38.16px;
        position: static;
    }

    .rectangle-153 {
        background: #8338ec;
        border-radius: 5px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 236.03px;
        height: 38.16px;
        position: absolute;
        left: 376px;
        top: 295px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .artesanias2 {
        color: #ffffff;
        text-align: center;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 403.11px;
        top: 304.16px;
        width: 181.01px;
        height: 19.84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .itemss3 {
        width: 801.03px;
        height: 39.16px;
        position: static;
    }

    .rectangle-154 {
        background: #8338ec;
        border-radius: 5px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 236.03px;
        height: 38.16px;
        position: absolute;
        left: 654px;
        top: 366px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .alquileres {
        color: #ffffff;
        text-align: center;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 681.11px;
        top: 375.16px;
        width: 181.01px;
        height: 19.84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle-155 {
        background: #8338ec;
        border-radius: 5px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 236.03px;
        height: 38.16px;
        position: absolute;
        left: 370px;
        top: 366px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .hogar {
        color: #ffffff;
        text-align: center;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 397.11px;
        top: 375.16px;
        width: 181.01px;
        height: 19.84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle-156 {
        background: #8338ec;
        border-radius: 5px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 236.03px;
        height: 38.16px;
        position: absolute;
        left: 935px;
        top: 365px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .jard-n {
        color: #ffffff;
        text-align: center;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 962px;
        top: 374px;
        width: 181.01px;
        height: 19.84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .itemss4 {
        width: 516.03px;
        height: 38.16px;
        position: static;
    }

    .rectangle-157 {
        background: #8338ec;
        border-radius: 5px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 236.03px;
        height: 38.16px;
        position: absolute;
        left: 935px;
        top: 295px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .autos {
        color: #ffffff;
        text-align: center;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 962.11px;
        top: 304.16px;
        width: 181.01px;
        height: 19.84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle-158 {
        background: #8338ec;
        border-radius: 5px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 236.03px;
        height: 38.16px;
        position: absolute;
        left: 655px;
        top: 295px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .salud-y-belleza {
        color: #ffffff;
        text-align: center;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 682.11px;
        top: 304.16px;
        width: 181.01px;
        height: 19.84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle-159 {
        background: #8338ec;
        border-radius: 5px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 236.03px;
        height: 38.16px;
        position: absolute;
        left: 935px;
        top: 200px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .comidas {
        color: #ffffff;
        text-align: center;
        font: 400 24px "Inter", sans-serif;
        position: absolute;
        left: 962.11px;
        top: 209.16px;
        width: 181.01px;
        height: 19.84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }



            </style>