@{
    ViewData["Title"] = "Crear";
    Layout = "MaintLayout";
}



<div class="container p-1">
    <div class="row">
        <div class="col btn ">
            <h1>
                Agregar Publicacion
            </h1>
        </div>
    </div>
    <div class="row m-1">
        <div class="col">
            <h4>
                Titulo
            </h4>
        </div>
        <div class="col from-group">
            <input type="text" class="form-control" />
            <p><i>Titulo sencillo y llamativo.</i></p>
        </div>
    </div>
    <div class="row m-1">
        <div class="col">
            <h4>
                Descripción
            </h4>
        </div>
        <div class="col from-group">
            <input type="text" class="form-control" />
            <p><i>Información de la publicación que desea realizar.</i></p>
        </div>
    </div>
    <div class="row m-1">
        <div class="col">
            <h4>
                Imagen
            </h4>
        </div>
        <div class="col from-group">
            <input type="file" class="form-control" />
            <p><i>Imagen Ilustrativa para los usuarios.</i></p>
        </div>

    </div>
    <div class="row m-1">
        <div class="col">
            <h4>
                Comunidad
            </h4>
        </div>
        <div class="col from-group">
            <input type="text" class="form-control"  value="[Comunidad]" readonly />
            <p><i>Comunidad en la que se publicará.</i></p>
        </div>
    </div>

    <div class="row m-1">
        <div class="col d-flex justify-content-around">
            <a asp-controller="Publicacion" asp-action="Ver" class="btn btn-outline-success bg-light">
                Agregar Publicación
            </a>

            <a asp-controller="Comunidad" asp-action="Ver" class="btn btn-outline-danger bg-light">
                Cancelar
            </a>
        </div>

    </div>
</div>


